
button.style {
    margin: 20px 85px;
}
*{
    margin: 0;
    padding: 0
}
.header{
min-height: 100px; 
border: 1px solid red;
overflow: hidden
}


.logo{
min-height: 100px; 
background-color: #A6433E; 
width: 20%;
float: left
}
.nav_bar{
min-height: 100px; 
background-color: #A6433E; 
width: 60%;
float: right
}

.slider{
min-height: 350px;
background-color: #A2B6B5;
overflow: hidden;
}


.header_text{
min-height: 200px;
border: 1px solid black;
width: 60%;
margin: 90px 240px
}

.main{
min-height: 400px;
background-color: #5A5051;
overflow: hidden
}


.service{
    overflow: hidden
   
}
.single_service{
    min-height: 240px;
    width: 20%;
    background-color: #DFDAD7; 
    padding: 10px;
    margin: 20px 23px auto;
    float: left;
    overflow: hidden
}
.service_title{
    overflow: hidden;
}
.image{
    min-height: 80px;
    width: 30%;
    background-color: aliceblue;
    float: left;
    overflow: hidden
    
}
.title{
    min-height: 80px;
    width: 60%;
    background-color: aliceblue;
    float: right;
    overflow: hidden
    
}
.service_text{
    min-height: 100px;
    width: 80%;
    background-color: #4267B2;
    margin: 0 auto;
    clear: both
    overflow: hidden
}

.button{
    min-height: 50px;
    width: 50%;
    background-color: #CE8B3A;
    margin: 0 auto;
    overflow: hidden
}
.service_bottom{
    min-height: 100px;
    background-color: #B14A3A;
    margin: 12px;
}
.social_media{
    overflow: hidden;
}
.media{
    width: 15%;
    float: left;
    padding: 0 33px;
    margin-top: 30px;
}
